[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
qrcode = {extras = ["pil"], version = "*"}
djangorestframework-simplejwt = "*"
django-filter = "*"
mysqlclient = "*"
python-dotenv = "*"
redis = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
python-telegram-bot = "*"
requests = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.10"
