<div class="container">
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="border-2 d-flex align-items-center flex-column" style="margin-top: 120px">
          <form class="w-75" [formGroup]="registerForm" *ngIf="isSuccessful" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group  pb-2">
              <label for="email">Email</label>
              <input type="text" id="email" class="form-control" required email formControlName="email">
              <label for="login">Login</label>
              <input type="text" id="login" class="form-control" required formControlName="login">
              <label for="password">Password</label>
              <input type="text" id="password" class="form-control" required formControlName="password">
              <div formGroupName="profile">
                <label for="age">Age</label>
                <input type="text" id="age" class="form-control" required formControlName="age">
                <label for="first_name">First name</label>
                <input type="text" id="first_name" class="form-control" required formControlName="first_name">
                <label for="second_name">Second name</label>
                <input type="text" id="second_name" class="form-control" required formControlName="second_name">
                <label for="last_name">Last name</label>
                <input type="text" id="last_name" class="form-control" required formControlName="last_name">
                <label for="birth_date">Day of birth</label>
                <input type="text" id="birth_date" class="form-control" required formControlName="birth_date">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">Sign Up</button>
            </div>
          </form>
          <div class="warning" *ngIf="this.errMsg">
            {{this.errMsg}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
