<div class="container-fluid bg-white" style="padding: 0">
  <div class="row background-main" style="background-color: var(--light_sea_green); overflow: hidden">
    <div
      class="col-12 d-flex background-main text-white align-items-center justify-content-center ">
      <h1 style="margin:  20vh; z-index: 2">Welcome to my
        <span style="color: var(--yellow_munsell)">
          QR
        </span>
        Reviews study app!
      </h1>
    </div>
  </div>
  <div class="row expand-row">
    <div class="col d-flex justify-content-start align-items-center flex-column" #contact style="height: 50vh">
      <div class="my-4"><h2 class="my-3 text-uppercase text-light-sea-green text-decor-wide">Author</h2></div>
      <div class="card d-flex flex-row justify-content-center align-items-center gap-3" style="height: 30vh">
        <div class="contact-info d-flex justify-content-end" style="width: 30vw;">
          <ul class="d-flex flex-column gap-3 margin-right" style="margin: 0;padding: 0">
            <li class="  d-flex justify-content-end align-items-center">
              <span class="text-uppercase">Ukraine, Lviv</span>
            </li>
            <li class="  d-flex justify-content-end align-items-center">
              <span class="text-uppercase">+380977551373</span>
            </li>
            <li class="  d-flex justify-content-end align-items-center">
              <span class="text-uppercase">serhii.terletskiy.ua@gmail.com</span>
            </li>
          </ul>
          <ul class="d-flex flex-column gap-3 margin-right" style="margin: 0;padding: 0">
            <li class="list-inline-item "><i class="fa-solid fa-location-dot"></i></li>
            <li class="list-inline-item "><i class="fa-solid fa-phone"></i></li>
            <li class="list-inline-item "><i class="fa-solid fa-inbox"></i></li>
          </ul>
        </div>

        <div class="d-flex flex-row align-items-center h-100" style="width: 30vw; z-index: 1">
          <div style="width: 0; height: 0;z-index: 2">
            <div class="cut-shadow"></div>
          </div>
          <div style="z-index: 3; height: 100%"
               class="profile-block d-flex bg-white align-items-center justify-content-center">
            <div style="margin-right: 1rem;margin-left: 1rem">
              <h5 class="my-1"><span class="text-uppercase fw-bold text-tangerine">Serhii</span> Terletskiy</h5>
              <h6 class="my-1">Junior FullStack developer</h6>
              <hr>
            </div>
            <div style="width: 150px;border-radius: 100%;overflow: hidden">
              <img style="width: 150px;" src="./assets/img/portrait.jpg" alt="My profiles photo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="row">-->
  <!--    <div class="col">-->
  <!--      <div class=footer>-->
  <!--        <div class="row d-flex align-items-center justify-content-center gap-5">-->
  <!--          <div class="col-3 bg-black">COL1</div>-->
  <!--          <div class="col-3  bg-black">COL2</div>-->
  <!--          <div class="col-3  bg-black">COL3</div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
