<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center" style="margin-top: 10rem">

    <div *ngIf="!_sendMsg else success" class="col-3">
      <form class="form d-flex flex-column justify-content-center align-items-center gap-2" [formGroup]="_reviewForm" (ngSubmit)="_submitReview(_id)">
        <div class="form-group w-100">
          <label for="customer_phone_number">
            Customer phone number
          </label>
          <input class="form-control" id="customer_phone_number" name="customer_phone_number"
                 formControlName="customer_phone_number">
        </div>
        <div class="form-group w-100">
          <label for="customer_name">
            Your name
          </label>
          <input class="form-control" id="customer_name" formControlName="customer_name">
        </div>

        <div class="form-group w-100">
          <label for="customer_review">
            Customer review
          </label>
          <input class="form-control" id="customer_review" formControlName="customer_review">
        </div>
        <div class="form-group w-100 d-flex justify-content-between align-items-center flex-column">
          <label for="place_score">Place rate</label>
<!--          <input class="form-control" id="place_score" formControlName="place_score">-->
          <ngb-rating
            [max]="5"
            id="place_score"
            formControlName="place_score"
          >
            <ng-template let-fill="fill" let-index="index">
              <i class="bi-star{{fill === 100 ? '-fill' : ''}}" [class.filled]="fill === 100"
              ></i>
            </ng-template>
          </ngb-rating>
        </div>
        <button class="btn btn-primary" type="SUBMIT">Send</button>
      </form>
    </div>
  </div>
</div>


<ng-template #success>
  <div class="col-3 d-flex align-items-center justify-content-center">
    <h6 class="text-success" style="font-size: 40px">{{_sendMsg}}</h6>
  </div>
</ng-template>
